<ion-header>
  <!-- Color rojiso a la barra superior de la aplicación -->
  <ion-navbar color="danger"> 
    <!-- Cambiamos el titulo -->
    <ion-title>
      Posts
    </ion-title>
    <!-- Agrego un boton para darle funcionalidad mas adelante -->
    <ion-buttons end>
      <button ion-button icon-only clear (click)="nuevoPost()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Creo una lista de ionic -->
  <ion-list>
    <!-- Creo varios items recorriendo el array de post que he definido en homt.ts -->
    <ion-item *ngFor="let post of posts">
      <!-- Antepongo un icono a cada post -->
      <ion-icon item-left name="paper-plane"></ion-icon>
      <!-- Muestro el nombre del autor del post -->
      <h2>
        <small>{{ post.data().autor }}</small>
      </h2>
      <!-- Muestro el contenido del post -->
      <p>
        <small>
          {{ post.data().mensaje }}
        </small>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
